*{
    background-color: black;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
h1{
    color: red;
    font-size: 45px;
}
h2{
    color: white;
    font-size: 30px;
}
a{
    font-size: 25px;
}